if (index != true)
	header.header(data-spy="affix" data-offset-top="0")
		.container
			.row
				.col-md-5.col-sm-3.col-xs-6.col-xxs-12
					a.header__logo(href="/")
						img(src="img/logo.png" alt="Site Logo")
				.col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.col-xs-6.col-xxs-12
					.header__info
						span.header__address Московская область, г. Долгопрудный, ул. Промышленный проезд, д.14
						a.header__link.header__link--email(href="mailto:#{email}" target="_blank") #{email}
				.col-md-3.col-sm-3.col-xs-12.col-xxs-12
					.header__phones
						a.header__phones-value(href="tel:+123") #{phone1}
						a.header__phones-value(href="tel:+123") #{phone2}
					a.header__link.header__link--user(href="javascript:void(0);" data-toggle="modal" data-target="#enter") Войти в личный кабинет
			.row
				.col-xs-12
					.header__menu
						button.header__menu-btn.visible-xs-inline-block(type="button")
							i.fa.fa-bars.fa-2x
						ul.header__menu-list
							each item, i in mainMenu
								li.header__menu-list-item
									if (i==2)
										a.header__menu-list-item-link.current(href="#!") #{item}
									else
										a.header__menu-list-item-link(href="#!") #{item}
else
	//- header.index-header(data-spy="affix" data-offset-top="0")
	header.index-header
		button.header__menu-btn.visible-xs-inline-block.visible-sm-inline-block.color-white(type="button")
			i.fa.fa-bars.fa-2x
		.index-header__left
			a.index-header__left-logo(href="/")
				img(src="img/logo.png", alt="ЦПРСГА")
			.index-header__left-menu
				ul.index-header__left-menu-list
					each item in mainMenu
						li.index-header__left-menu-list-item
							a.index-header__left-menu-list-item-link(href="#!") #{item}
		.index-header__top
			.index-header__top-block.hidden-xxs
				i.fa.fa-map-marker.color-white.pull-left.fa-lg(style="top:7px;")
				span.index-header__top-block-address Московская область, г. Долгопрудный, ул. Промышленный проезд, д.14
			.index-header__top-block
				i.fa.fa-phone.color-white.fa-lg
				a.index-header__top-block-phone(href="tel:+123") #{phone1}
				span.index-header__top-block-devider.hidden-xs ,
				a.index-header__top-block-phone(href="tel:+123") #{phone2}
			.index-header__top-block.hidden-xxs
				i.fa.fa-envelope.color-white.fa-lg
				a.index-header__top-block-email(href="mailto:#{email}") #{email}
			.index-header__top-block
				a.btn.btn-default.index-header__top-block-enter(href="javascript:void(0);" data-toggle="modal" data-target="#enter")
					i.fa.fa-user
					| Войти в личный кабинет