header.header
	.container
		.row
			.col-sm-5
				a.header__logo(href="/")
					img(src="/img/logo.png" alt="Site Logo")
			.col-sm-4
				span.header__address Московская область, г. Долгопрудный, ул. Промышленный проезд, д.14
				a.header__link.header__link--email(href="mailto:#{email}" target="_blank") #{email}
			.col-sm-3
				.header__phones
					a.header__phones-value(href="tel:+123") #{phone1}
					a.header__phones-value(href="tel:+123") #{phone2}
				a.header__link.header__link--user.js-fancybox(href="#enter") Войти в личный кабинет
		.row
			.col-xs-12
				.header__menu
					ul.header__menu-list
						each item in mainMenu
							li.header__menu-list-item
								a.header__menu-list-item-link(href="#!") #{item}